input[type=text],
input[type=password] {
    width: 90%;
    background-color: rgb(229, 236, 243);
    color: rgb(48, 44, 44);
    border: 2px solid black;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    margin-bottom: 10px;
}

input[type=text]:focus,
input[type=password]:focus {
    border: 2px solid rgb(42, 150, 238);
}

input[type=submit] {
    width: 90%;
    background-color: rgb(42, 150, 238);
    color: rgb(48, 44, 44);
    border: 2px solid black;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
    letter-spacing: 2px;
    margin-top: 20px;
}

input[type=submit]:hover {
    background-color: rgb(25, 116, 190);
}