::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px transparent;
    background-color: transparent;
}

 ::-webkit-scrollbar {
    width: 5px;
    //background-color: rgba(158, 158, 158, 0.527);
}

 ::-webkit-scrollbar-thumb {
    background-color: rgba(9, 64, 109, 0.486);
    cursor: pointer;
}