$defaultFont: 'Indie Flower',
cursive;
$shadowBackground: rgba(0, 0, 0, 0.356);
$mainBackground: '../img/test3.png';
$headerFontSize: 3vw;
$containerAsideFontSize: 2vw;
$authColor: $shadowBackground;
$footerColor: rgba(14, 103, 175, 0.191);
;
@mixin placeholder {
     ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: black;
    }
     ::-moz-placeholder {
        /* Firefox 19+ */
        color: black;
    }
     :-ms-input-placeholder {
        /* IE 10+ */
        color: black;
    }
     :-moz-placeholder {
        /* Firefox 18- */
        color: black;
    }
}

@mixin flexible {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexibleRow {
    @include flexible;
    flex-direction: row;
}

@mixin flexibleColumn {
    @include flexible;
    flex-direction: column;
}

@mixin container-aside {
    font-family: $defaultFont;
    text-align: center;
    font-size: $containerAsideFontSize;
    width: 33%;
}